/*Fonts and Colors*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Open+Sans:400,700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: rgb(250,250,250);
  color: rgb(40,40,40);
}

h1, h2 {
  font-family: 'Noto Sans', sans-serif;
  color: #8F95D2;
}

h1 {
  font-size: 40px;
}

h2 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

/*Customized styling*/
.card {
  width: 600px;
  margin: 40px auto;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  padding: 24px;
}

.img-circle {
  width: 120px;
  border-radius: 50%;
  height: 120px;
  object-fit: cover;
  object-position: 100% 50%;
}

.button-blue {
  padding: 16px 24px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  background-color: #89DAFF;
  color: white;
  transition: background-color 0.3s;
}

.button-blue:hover {
  background-color: #64a0ba;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline;
}

.list-inline a {
  font-size: 64px;
  margin: 8px;
  color: rgb(80,80,80);
}
